<h2>ユーザー詳細ページ</h2>
<h3>会員情報</h3>
<!-- ユーザー情報 -->
<div class="user-container">
    <div class="icon">
        <%= image_tag @user.icon.url, class: "rounded-circle", size: '200x240' %>
    </div>
    <table>
        <tr>
            <th>お名前</th><td><%= @user.name %></td>
        </tr>
        <tr>
            <th>アカウント名</th><td><%= @user.account_name %></td>
        </tr>
        <tr>
            <th>ご住所</th><td><%= @user.shipping_address %></td>
        </tr>
        <tr>
            <th>お電話番号</th><td><%= @user.tel %></td>
        </tr>
        <tr>
            <th>自己紹介文</th>
        </tr>
    </table>
</div>
<div>
    <% if current_user && current_user.id == @user.id %>
        <%= link_to 'プロフィール編集', edit_user_path(current_user.id), class: "nav-link-edit" %>
    <% end %>
</div>

<!-- ユーザー情報END -->

<!-- 出品中の商品 -->
<h2>公開(出品)中の商品</h2>
<div id="index-container">
    <div class="index">
        <% @user.books.where(published: true).each do |book| %>
        <div class="index-info">    
            <%= link_to book_path(book.id) do %>
                <%= image_tag book.image.url, class: "index-book-image", size: '200x280' %>
            <% end %>
            <div>
                <%= truncate(book.title, length:12) %>
                <%= book.price %><span>円</span>
                <% if current_user && current_user.id == @user.id %>
                    <%= button_to "編集する", edit_book_path(book.id), method: :get, class: 'btn btn-danger' %>
                    <%= button_to "削除する", book_path(book.id), method: :delete, data: { confirm: "商品を削除します。よろしいですか？"} , class: 'btn btn-danger' %>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>
<h2>非公開の商品</h2>
<div id="index-container">
    <div class="index">
        <% @user.books.where(published: false).each do |book| %>
        <div class="index-info">    
            <%= link_to book_path(book.id) do %>
                <%= image_tag book.image.url, class: "index-book-image", size: '200x280' %>
            <% end %>
            <div>
                <%= truncate(book.title, length:12) %>
                <%= book.price %><span>円</span>
                <% if current_user && current_user.id == @user.id %>
                    <%= button_to "編集する", edit_book_path(book.id), method: :get, class: 'btn btn-danger' %>
                    <%= button_to "削除する", book_path(book.id), method: :delete, data: { confirm: "商品を削除します。よろしいですか？"} , class: 'btn btn-danger' %>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>
<!-- 出品中の商品END -->