<h1 class="page_title">ご注文確定ページ</h1>
<% if @msg %>
    <% @msg.each do |msg| %>
     <h2 class="flash_msg"><%= msg %></h2>
    <% end %>
<% end %>
<%# model: @order_detailを追加　%>
<%= form_with(model: @order, local: true) do |f| %>
    <div>
        <%= f.hidden_field :subtotal, value: @sub_total_price %>
        <%= f.hidden_field :postage, value: @postage %>
        <%= f.hidden_field :total_price, value: @total_price %>
        <p>お届け先： <%= f.text_field :shipping_address, value: @user.shipping_address %></p>  <%#- value => 初期値　-%>
    </div>
    <div>
        <div>
            <%= f.label :支払い方法： %>
            <% { 1 => "クレジットカード", 2 => "コンビニ", 3 => "銀行振込", 4 => "InaPay"}.each do |num, pay_method|%>
                <%= f.radio_button :payment_method, num%>
                <%= pay_method %>
            <% end %>
            
        </div>
        <%# radio_button 'page', 'category', 'rails_base', checked: true %>
    </div>
    <div class="payment_method"><%= f.submit "注文を確定する"%></div>
<% end %>
<p class="border"></p>
<h2 class="page_title">ご注文内容</h2>
<%= render 'shared/cart' %>
<div class="link">
    <%= link_to "戻る", "/carts" %>
</div>

<%#= link_to "確定", %>
