<div>
    <%= form_with model: book do |f| %>
    <div>
        <%= f.label :カテゴリー %>
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |c| %>
        <div>
            <%= c.label do %>
                <%= c.check_box({ class: 'js-check' }) %>
                <%= c.text %>
            <% end %>
        </div>
        <% end %>
    </div>

    <div>
        <%= f.label :本のタイトル %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :画像 %>
        <%= f.file_field :image%>
    </div>
    <div>
        <%= f.label :商品の状態 %>
        <%= f.radio_button :product_condition, "新品、未使用" %>
        <%= f.label :product_condition, "新品、未使用", value: "新品、未使用" %>
        <%= f.radio_button :product_condition, "ほぼ新品" %>
        <%= f.label :product_condition, "ほぼ新品", value: "ほぼ新品" %>
        <%= f.radio_button :product_condition, "良い", checked: true %>
        <%= f.label :product_condition, "良い", value: "良い" %>
        <%= f.radio_button :product_condition, "可" %>
        <%= f.label :product_condition, "可", value: "可" %>
    </div>
    <div>
        <%= f.label :商品の説明 %>
        <%= f.text_area :description %>
    </div>
    <div>
        <%= f.label :税込価格 %>
        <%= f.number_field :price %><span>円</span>
    </div>
    <div>
        <%= f.label :送料 %>
        <%= f.number_field :postage %><span>円</span>
    </div>
    <div>
        <%= f.label :公開・非公開 %>
        <%= f.radio_button :published, 'true', checked: true %>
        <%= f.label :published, "公開", value: true %>
        <%= f.radio_button :published, 'false' %>
        <%= f.label :published, "非公開", value: false %>
    </div>
    <div>
        <%= f.hidden_field :seller_id, value: current_user.id %>
        <%= f.hidden_field :soldout, value: false %>
    <div>
        <%= f.submit '変更する', class: 'btn btn-primary' %>
    </div>
    <% end %>
</div>

<script>
const checkbox = document.querySelectorAll(".js-check");
checkbox.forEach(element => {
    element.addEventListener('click', function () {
        let check_count = 0;
        checkbox.forEach(elem => {
            if(elem.checked) check_count++;
        });
        console.log(check_count);
        if(check_count === 0) {
            checkbox.forEach(elem => {
                if(elem.classList.contains('locked')) elem.classList.remove('locked');
            });
        } else if(check_count > 2) {
            checkbox.forEach(elem => {
                if(!elem.checked) {
                    elem.setAttribute('disabled', true);
                    elem.classList.add('locked');
                }
            });
        } else {
            checkbox.forEach(elem => {
                if(!elem.checked) {
                    elem.removeAttribute('disabled');
                    elem.classList.remove('locked');
                }
            });
        }
    })
});
</script>