
<div class="search-form">
    <%= form_with(url: root_path, method: :get, local: true) do %>
    <%= text_field_tag :title, params[:title], placeholder: "キーワード検索…", class: 'form-control' %>
    <%= submit_tag "\uf002 検索", class: "fa" %>
    <% end %>
</div>

<h2>商品一覧ページ</h2>
<div class="index-container">
    <div class="index">
        <% @books.each do |book| %>
        <div class="index-info">    
            <%= link_to book_path(book.id) do %>
                <%= image_tag book.image.url, class: "index-book-image", size: '220x300' %>
            <% end %>
            <div>
                <%= truncate(book.title, length:12) %>
                <i class="fa-brands fa-product-hunt"></i><%= book.price.to_s(:delimited, delimiter: ',') %>
            </div>
            <div>
                <%= button_to "カートに入れる", "/carts", {params: {book_id: book.id}} if current_user %> <%# button_toはデフォルトでpost %>
            </div>
        </div>
        <% end %>
    </div>
</div>

