<div>
    <%= form_with(url: root_path, method: :get, local: true) do %>
    <%= text_field_tag :title, params[:title], placeholder: "キーワード検索…"   %>
    <%= submit_tag "検索" %>
    <% end %>
</div>

<h2>商品一覧ページ</h2>
<div class="index-container">
    <div class="index">
        <% @books.each do |book| %>
        <div class="index-info">    
            <%= link_to book_path(book.id) do %>
                <%= image_tag book.image.url, class: "index-book-image", size: '210x290' %>
            <% end %>
            <div>
                <%= truncate(book.title, length:11) %>
                <%= book.price %><span>円</span>
            </div>
        </div>
        <% end %>
    </div>
</div>
