<h1 class="page_title">カート（一覧）</h1>
<% if session[:cart].nil? %>
    <h2 class="cart_empty">
        カートは空っぽです！！<br>
        商品を追加しよう！！
    </h2>
    <p class="cart_empty"><%= link_to "商品を探す", "/books" %></p>
<% else %>
    <h2 class="flash_msg"><%= flash[:cart_uniq] %></h2>
    <%= render 'shared/cart'%>
    <div class="link">
        <%= link_to "商品を探す", "/books" %>
        <%= link_to "商品を注文する", "/orders" %>
    </div>
<% end %>