<% if session[:cart].nil? %>
    <h1 class="cart_empty">
        カートは空っぽです！！<br>
        商品を追加しよう！！
    </h1>
    <p class="cart_empty"><%= link_to "商品を探す", "/books" %></p>
<% else %>
    <h1><%= flash[:cart_uniq] %></h1>
    <%= render 'shared/cart'%>
    <p><%= link_to "商品を注文する", "/orders" %>>></p>
    <p><<<%= link_to "商品を探す", "/books" %></p>
<% end %>