<!DOCTYPE html>
<html>
  <head>
    <title>InacariBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link" %>
    <% end %>
    <% if flash.notice.present? %>
      <div class="alert alert-success"><%= flash.notice %></div>
    <% end %>
    <% if flash[:danger].present? %>
      <ul class="alert alert-danger">
        <% flash[:danger].each do |d| %>
          <li><%= d %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
